.bubblesContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    position: absolute;
    bottom: -100px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.2) inset;
    border-radius: 50%;
    opacity: 0.5;
    animation: moving 0.5s infinite ease-in;
}

@keyframes moving {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 1080px
    }
}

.bubble:hover{
    animation: none;
    filter: blur(150px);
}

.bubble::after{
    content: '';
    background: radial-gradient(ellipse at center , rgba(255,255,255,0.5) 0%, rgba(255, 255, 255, 0.5) 70% );
}

.bubble:nth-child(1){
    width: 40px;
    height: 40px;
    left: 5%;
    animation-duration: 8s;
}

.bubble:nth-child(2){
    width: 220px;
    height: 220px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(3){
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 10s;
    animation-delay: 2s;
}

.bubble:nth-child(4){
    width: 80px;
    height: 80px;
    left: 20%;
    animation-duration: 7s;
    animation-delay: 0s;
}

.bubble:nth-child(5){
    width: 100px;
    height: 100px;
    left: 75%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(6){
    width: 25px;
    height: 25px;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble:nth-child(7){
    width: 350px;
    height: 350px;
    left: 80%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.bubble:nth-child(8){
    width: 60px;
    height: 60px;
    left: 8%;
    animation-duration: 8s;
    animation-delay: 1s;
}

.bubble:nth-child(9){
    width: 250px;
    height: 250px;
    left: 18%;
    animation-duration: 8s;
    animation-delay: 1s;
}

.bubble:nth-child(10){
    width: 10px;
    height: 10px;
    left: 88%;
    animation-duration: 4s;
    animation-delay: 2s;
}