* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #08001C;
}